# Entrega consulta de APIs

Este dataset no es el utilizado para mi proyecto, ya que como son valores numericos de distintos parametros no hace sentido matchear valores con una API. Para motivos del entregable, usamos un dataset con variables de latitud y longitud, para obtener la provincia y país a la que hacen referencia a traves de la API de Google Maps.

### Descripción del nuevo dataset

Descripción del S3E20 extraida de Kaggle:

El objetivo de este desafío es crear modelos de aprendizaje automático que utilicen datos de emisiones de código abierto (de observaciones satelitales del Sentinel-5P) para predecir las emisiones de carbono.

Se seleccionaron aproximadamente 497 ubicaciones únicas de diversas áreas en Ruanda, con una distribución en torno a tierras de cultivo, ciudades y centrales eléctricas. Los datos para esta competencia están divididos por tiempo; los años 2019 a 2021 están incluidos en los datos de entrenamiento, y su tarea es predecir los datos de emisiones de CO2 para 2022 hasta noviembre.

Se extrajeron siete características principales semanalmente del Sentinel-5P desde enero de 2019 hasta noviembre de 2022. Cada característica (Dióxido de azufre, Monóxido de carbono, etc.) contiene subcaracterísticas como la densidad de columna vertical, que es la densidad de columna vertical a nivel del suelo, calculada utilizando la técnica DOAS. Puede obtener más información sobre cada característica en los enlaces a continuación, que incluyen cómo se miden y las definiciones de las variables.

In [1]:
import requests
import json
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

df = pd.read_csv("playground-series-s3e20/train.csv")

In [3]:
print("El playground series episodio 22 tiene ", len(df), " filas y ", df.shape[1], " columnas.")

El playground series episodio 22 tiene  79023  filas y  76  columnas.

## Obtención de provincia y país por la API

Para este ejercicio, se va a obtener la ciudad a partir de los datos de latitud y longitud del dataset.

In [4]:
df.head()

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,...,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle,emission
0,ID_-0.510_29.290_2019_00,-0.51,29.29,2019,0,-0.000108,0.603019,-0.000065,0.255668,-98.593887,...,3664.436218,61085.809570,2615.120483,15.568533,0.272292,-12.628986,35.632416,-138.786423,30.752140,3.750994
1,ID_-0.510_29.290_2019_01,-0.51,29.29,2019,1,0.000021,0.728214,0.000014,0.130988,16.592861,...,3651.190311,66969.478735,3174.572424,8.690601,0.256830,30.359375,39.557633,-145.183930,27.251779,4.025176
2,ID_-0.510_29.290_2019_02,-0.51,29.29,2019,2,0.000514,0.748199,0.000385,0.110018,72.795837,...,4216.986492,60068.894448,3516.282669,21.103410,0.251101,15.377883,30.401823,-142.519545,26.193296,4.231381
3,ID_-0.510_29.290_2019_03,-0.51,29.29,2019,3,NaN,NaN,NaN,NaN,NaN,...,5228.507736,51064.547339,4180.973322,15.386899,0.262043,-11.293399,24.380357,-132.665828,28.829155,4.305286
4,ID_-0.510_29.290_2019_04,-0.51,29.29,2019,4,-0.000079,0.676296,-0.000048,0.121164,4.121269,...,3980.598120,63751.125781,3355.710107,8.114694,0.235847,38.532263,37.392979,-141.509805,22.204612,4.347317

In [5]:
locations = df[["latitude","longitude"]].drop_duplicates().reset_index()

locations.head()

   index  latitude  longitude
0      0    -0.510     29.290
1    159    -0.528     29.472
2    318    -0.547     29.653
3    477    -0.569     30.031
4    636    -0.598     29.102

In [6]:
base_url = "https://maps.googleapis.com/maps/api/geocode/json"
api_key = "AIzaSyBJbCshf_U9KpngJqB9l0wCbWQF-QWAsxg" ## Esta key fue eliminada antes de subir la notebook y no sirve mas

params = {
    "latlng": f"{locations.latitude[0]},{locations.longitude[0]}",
    "key": api_key
}

response = requests.get(base_url, params=params)
data = response.json()

Imprimimos la HTTP response.

In [7]:
data

{'plus_code': {'compound_code': 'F7QQ+XXX Mushenge, Democratic Republic of the Congo',
  'global_code': '6GFFF7QQ+XXX'},
 'results': [{'address_components': [{'long_name': 'F7QQ+XX',
     'short_name': 'F7QQ+XX',
     'types': ['plus_code']},
    {'long_name': 'Mushenge',
     'short_name': 'Mushenge',
     'types': ['locality', 'political']},
    {'long_name': 'Lubero',
     'short_name': 'Lubero',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'North-Kivu',
     'short_name': 'North-Kivu',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'Democratic Republic of the Congo',
     'short_name': 'CD',
     'types': ['country', 'political']}],
   'formatted_address': 'F7QQ+XX Mushenge, Democratic Republic of the Congo',
   'geometry': {'bounds': {'northeast': {'lat': -0.51, 'lng': 29.29},
     'southwest': {'lat': -0.5101249999999999, 'lng': 29.289875}},
    'location': {'lat': -0.51, 'lng': 29.29},
    'location_type': 'GEOMETRIC_CENTER',
    'viewport': {'northeast': {'lat': -0.5087135197084979,
      'lng': 29.2912864802915},
     'southwest': {'lat': -0.511411480291502, 'lng': 29.2885885197085}}},
   'place_id': 'GhIJUrgehetR4L8RCtejcD1KPUA',
   'plus_code': {'compound_code': 'F7QQ+XX Mushenge, Democratic Republic of the Congo',
    'global_code': '6GFFF7QQ+XX'},
   'types': ['plus_code']},
  {'address_components': [{'long_name': 'Route sans nom',
     'short_name': 'Route sans nom',
     'types': ['route']},
    {'long_name': 'Lubero',
     'short_name': 'Lubero',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Nord-Kivu',
     'short_name': 'Nord-Kivu',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'Democratic Republic of the Congo',
     'short_name': 'CD',
     'types': ['country', 'political']}],
   'formatted_address': 'Route sans nom, Democratic Republic of the Congo',
   'geometry': {'bounds': {'northeast': {'lat': -0.5199697999999999,
      'lng': 29.3034703},
     'southwest': {'lat': -0.5201644000000001, 'lng': 29.3033954}},
    'location': {'lat': -0.5200671, 'lng': 29.3034329},
    'location_type': 'GEOMETRIC_CENTER',
    'viewport': {'northeast': {'lat': -0.518718119708498,
      'lng': 29.3047818302915},
     'southwest': {'lat': -0.5214160802915021, 'lng': 29.3020838697085}}},
   'place_id': 'ChIJuXt1c7as3xkRXEphJsuIkdE',
   'types': ['route']},
  {'address_components': [{'long_name': 'Lubero',
     'short_name': 'Lubero',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Nord-Kivu',
     'short_name': 'Nord-Kivu',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'Democratic Republic of the Congo',
     'short_name': 'CD',
     'types': ['country', 'political']}],
   'formatted_address': 'Lubero, Democratic Republic of the Congo',
   'geometry': {'bounds': {'northeast': {'lat': 0.6978278, 'lng': 29.72853},
     'southwest': {'lat': -0.8221012, 'lng': 27.7965989}},
    'location': {'lat': -0.1309318, 'lng': 28.8596804},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 0.6978278, 'lng': 29.72853},
     'southwest': {'lat': -0.8221012, 'lng': 27.7965989}}},
   'place_id': 'ChIJi7xW59j23xkRtWyLCHanwbA',
   'types': ['administrative_area_level_2', 'political']},
  {'address_components': [{'long_name': 'North-Kivu',
     'short_name': 'North-Kivu',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'Democratic Republic of the Congo',
     'short_name': 'CD',
     'types': ['country', 'political']}],
   'formatted_address': 'North-Kivu, Democratic Republic of the Congo',
   'geometry': {'bounds': {'northeast': {'lat': 0.9541989999999999,
      'lng': 29.9874346},
     'southwest': {'lat': -2.0657701, 'lng': 27.2271441}},
    'location': {'lat': -0.7917729, 'lng': 29.0459927},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 0.9541989999999999, 'lng': 29.9874346},
     'southwest': {'lat': -2.0657701, 'lng': 27.2271441}}},
   'place_id': 'ChIJw2_lYFWG4BkRlBuOXc5NHjQ',
   'types': ['administrative_area_level_1', 'political']},
  {'address_components': [{'long_name': 'Democratic Republic of the Congo',
     'short_name': 'CD',
     'types': ['country', 'political']}],
   'formatted_address': 'Democratic Republic of the Congo',
   'geometry': {'bounds': {'northeast': {'lat': 5.3920029, 'lng': 31.314612},
     'southwest': {'lat': -13.4590349, 'lng': 12.1454}},
    'location': {'lat': -4.038333, 'lng': 21.758664},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 5.3920029, 'lng': 31.314612},
     'southwest': {'lat': -13.4590349, 'lng': 12.1454}}},
   'place_id': 'ChIJvUZ1ms_6eRkRQfGTrF4-xgQ',
   'types': ['country', 'political']}],
 'status': 'OK'}

Notamos que tras obtener el output, imprimimos el resultado de provincia y Pais, navegando por los indices del JSON abajo.

In [8]:
data['results'][0]['address_components'][3]['long_name'], data['results'][0]['address_components'][4]['long_name']

('North-Kivu', 'Democratic Republic of the Congo')

Creamos una función para devolver estos resultados por latitud y longitud.

In [9]:
def get_country_and_province(api_key,lat,long):
    
    params = {
        "latlng": f"{lat},{long}",
        "key": api_key
    }

    response = requests.get(base_url, params=params)
    data = response.json()
    
    try:
        res = data['results'][0]['address_components'][3]['long_name'], data['results'][0]['address_components'][4]['long_name']
    except:
        res = "Not determined", "Not determined"
    
    return res

Aplicamos la función a los datos y creamos dos columnas nuevas.

In [10]:
locations[['Province', 'Country']] = locations.apply(lambda row: 
                                                             pd.Series(
                                                                 get_country_and_province(api_key,row['latitude'],
                                                                                          row['longitude'])), axis=1)

Imprimimos los resultados y mostramos las nuevas columnas.

In [11]:
locations

,index,latitude,longitude,Province,Country
0,0,-0.510,29.290,North-Kivu,Democratic Republic of the Congo
1,159,-0.528,29.472,North-Kivu,Democratic Republic of the Congo
2,318,-0.547,29.653,Nord-Kivu,Democratic Republic of the Congo
3,477,-0.569,30.031,Mkoa wa Magharibi,Uganda
4,636,-0.598,29.102,North-Kivu,Democratic Republic of the Congo
...,...,...,...,...,...
492,78228,-3.153,30.347,Not determined,Not determined
493,78387,-3.161,28.839,South-Kivu,Democratic Republic of the Congo
494,78546,-3.174,29.926,Karuzi,Burundi
495,78705,-3.287,29.713,Muramvya,Burundi
496,78864,-3.299,30.301,Ruyigi,Burundi